.App {
    font-family: Arial;
}

.app-body {
    margin: 15px;
}

.completed-hidden {
    display: none;
}

.overdue-hidden {
    display: none;
}

.textarea {
    height: 100%;
    width: 100%;
    resize: none;
    overflow: hidden;
}

.question-text {
    padding: 10px;
    border: 2px solid black;
    margin-top: 10px;
}

.question-text p {
    margin: 0px;
}

.code-field {
    padding: 10px;
    border: 5px solid black;
    margin-top: 10px;
}

.code-textarea {
    line-height: calc(1.5em + 10px) !important;
    overflow-x: scroll;
}

.code-text {
    margin: 0px;
    padding-top: 10px;
    font-family: Monaco;
    font-size: 1em;
    white-space: pre;
}

.highlight {
    background-color: yellow;
}

.badge {
    /* allow badge to sit on top of highlight */
    z-index: 10;
}

.answer-field {
    padding: 10px;
    border: 2px solid black;
    margin-top: 10px;
}

.answer-field p {
    margin: 0px;
}

.rubric-field {
    margin-top: 10px;
}

.tags-field {
    margin-top: 10px;
}
